<%= render :partial => 'navigation' %>
<table>
	<tr>
		<th>ID</th>
		<th>Status</th>
		<th>Total amount</th>
		<th>Size</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th></th>
	</tr>
	<% if !@orders.blank? then for order in @orders %>
		<tr>
			<td align="right"><%= order.id %></td>
			<td align="right"><%= order.status %></td>
			<td align="right"><%= order.total %></td>
			<td align="right"><%= order.item.size %></td>
			<td align="right"><%= order.created_at.strftime("%Y-%m-%d %I:%M") %></td>
			<td align="right"><%= order.updated_at.strftime("%Y-%m-%d %I:%M") %></td>
			<td><%= button_to "View", :action => "show", :id => order %></td>
		</tr>
	<% end %>
	<% else %>
		<tr>
			<td>nothing here. :(</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><%= button_to "Sad Panda", :action => "show", :id => order %></td></td>
		</tr>
		<tr>
			<td>this is filler using an if then statement</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<% end %>
</table>
<% if @order %>
<%= will_paginate @orders %>
<% end %>
