	<% content_for :head do %>
	<%= stylesheet_link_tag "admin" %> 
	<% end %> 
<h1>Dashboard</h1>
<h2>Welcome to the adminstration dashboard</h2>
<h3>review/edit/delete:</h3>
<%= link_to "Orders", :controller => "admin/orders", :action => "index" %> | 
<%= link_to "Items", :controller => "admin/items", :action => "index" %> |
<%= link_to "pages", pages_path %> 

<hr/>

<h1>Orders</h1>

<%= render :partial => 'navigation' %>
<table>
	<tr>
		<th>ID</th>
		<th>Status</th>
		<th>Total amount</th>
		<th>Created at</th>
		<th>Updated at</th>
		<th>Controls</th>
	</tr>
	<% for order in @orders %>
		
			<tr>
				<td align="right"><%= order.id %></td>
				<td align="right"><%= order["status"] %></td>
				<td align="right"><%= order.total %></td>
				<td align="right"><%= order.created_at.strftime("%Y-%m-%d %I:%M") %></td>
				<td align="right"><%= order.updated_at.strftime("%Y-%m-%d %I:%M") %></td>
				<td><%= button_to "View", :action => "show", :id => order %></td>
			</tr>

	<% end %>

</table>

<hr/>

<h1>Items</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
	 <th>Owner</th>
	 <th>Status</th>
    <th>Price</th>
    <th>updated</th>
    <th colspan="3"><center>Controls</center></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.title %></td>
    <td><%=h item.category %></td>
    <td><%=h item.user.full_name %></td>
    	<% if item.status < 2 %>
    		<td><%= item_status(item.status) %> | approve me </td>
		<% else %>
    		<td><%= item_status(item.status) %></td>
    	<% end %>	
    	<%#=h item_status(item.status) %>
    <td><%=h item.price %></td>
    <td><%=h item.updated_at.to_s(:update_time) %></td> 
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
