<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= "Lakota Spirit"%></title>
	  <%= include_tiny_mce_if_needed %>

  	<%= javascript_include_tag :defaults %>

	
		<%= stylesheet_link_tag 'experimental' %>
    <%= yield :head %>
  </head>
  <body>
  	<div id="wrapper">
		<header>
				<h1><%= link_to "Lakota Spirit", root_path -%></h1>	
				<h2>Authentic Native American Jewelry Art and Artifacts</h2>
				<%= image_tag "LakotaSpirit.png", :width => "100%" %>
		</header>
		<nav>		
		<div class="menu" >
					<ul >
						<% @tabs.each do |page| -%>
							<li><%= link_to page.title.capitalize, view_page_path(page.name) %></li>
						<% end -%>
						<!--#creates admin/seller user link-->		
							<% if @current_user  %>
									<% if @current_user.user_level >= 4 %>								
										<li>
											<%= link_to "Admin", admin_path %>
										</li>		
									<% elsif @current_user.user_level >= 3 %>
										<li>
											<%= link_to "seller", seller_path %>
										</li>
									<% end %>
							<% end %>
						
						<li>						
							<%if current_user %>
								<% link_to "Edit Profile", edit_user_path(:current) %>
								<%= link_to "Logout", logout_path %>				
							<%else%>
								<%= link_to "Login", login_path %>
							<% end %>
						</li>	
					</ul>		
		</div>
		</nav>
		<section id="main">
		<!-- partial goes here -->
		<% unless @current_user && @current_user.user_level >= 3  %>
		<%= render :partial => "sidebars/left_sidebar" %>
		<% end %>
		<section id="content">
			<h3 id="flash">
				<%= flash[:notice] %>
			</h3>
			
				<% if @cart.cart_items %>
				
				<%= drop_receiving_element("shoping_cart", :url => { :controller => "cart", :action => "add" }) %>
			<% end %>

			<%= yield %>
      	
      	<p style="clear:both"></p>
		</section>

		<% unless @current_user && @current_user.user_level >= 3  %>
		<%= render :partial => "sidebars/right_sidebar" %>
		<% end %>
		</section>
		<footer>
		<section id="footer-area">

		<p>website comming soon.  Design by: <a href="http://douglasheadley.com">VoodooLogic</a></p>
				</section>
		</footer>
		
		</div>
		<%= debug params %> 
			<%= if @current_user then debug @current_user.username else "<code>no user logged in</code>" end%>
		<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18105812-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<%= debug @undelivered_items %>
<%= debug @order_items %>
  </body>
</html>
